@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "All roles";
}

<h1>All roles</h1>

<a class="btn btn-primary mb-2" asp-action="AddRole"><i class="fa-solid fa-users"></i> Add role</a>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th><h5>Role</h5></th>
                <th class="text-center"><h5>Actions</h5></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>@role.Name</td>
                    <td class="text-center">
                        <a asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary btn-md mx-1"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                        <a asp-action="DeleteRole" asp-route-id="@role.Id" class="btn btn-danger btn-md mx-1"><i class="fa-solid fa-trash-can"></i> Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h5>No roles yet, use the button above to add your first role.</h5>
}
